<h1><%= @employee.first_name %> <%= @employee.last_name  %></h1>
<img src="<%= @employee.img_url %>" width="450" height="auto" alt="<%= @employee.first_name %> <%= @employee.last_name  %> Image">
<h3>Alias: <%= @employee.alias%></h3>
<h3>Title: <%= @employee.title %></h3>
<h3>Office: <%= @employee.office %></h3>
<h3>Dog: <%= @employee.dog.name %></h3>

